
@{
    ViewData["Title"] = "History Index";
}



<!-- Page title -->
<section class="page-title" style="background-image:url(images/background/7.jpg)">
    <div class="container">
        <div class="outer-box">
            <h1>Company History</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="~/index.html">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</section>

<!-- About us two -->
<section class="about-section-three sp-two shape-right">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pl-lg-3">
                <div class="about-content-block">
                    <div class="sec-title">
                        <h1>35 Years Of Quality Services <br>in Business</h1>
                    </div>
                    <div class="text mb-40">
                        <p>Lorem ipsum dolor sit amet consectetur adipicing elit sed do usmod tempor incididunt.enim ad minim veniam, quis nostrud exer citation ulla mco laboris nisi ut aliquip commodo.</p>
                        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium doloreque laudantum.</p>
                    </div>
                    <div class="link-btn mb-30"><a href="~/#" class="theme-btn btn-style-two small-btn">Contact Us</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image-block-two wow fadeInLeft" data-wow-duration="1.5s">
                    <div class="inner-box">
                        <div class="image"><img src="~/images/resource/graph-2.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Feature section six -->
<section class="feature-section-six sp-one">
    <div class="container">
        <div class="sec-title centered">
            <h1>Here Are Some Major <br>Milestones</h1>
        </div>

        <ul class="nav nav-tabs tab-btn-style-two justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-one-area" data-toggle="tab" href="~/#tab-one" role="tab" aria-controls="tab-one" aria-selected="true"><span class="dot"></span>2018</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-two-area" data-toggle="tab" href="~/#tab-two" role="tab" aria-controls="tab-two" aria-selected="false"><span class="dot"></span>2015</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-three-area" data-toggle="tab" href="~/#tab-three" role="tab" aria-controls="tab-three" aria-selected="false"><span class="dot"></span>2012</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-four-area" data-toggle="tab" href="~/#tab-four" role="tab" aria-controls="tab-four" aria-selected="false"><span class="dot"></span>2009</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-four-area" data-toggle="tab" href="~/#tab-five" role="tab" aria-controls="tab-five" aria-selected="false"><span class="dot"></span>2005</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fadeInUp animated active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                <!-- Feature block four -->
                <div class="feature-block-four">
                    <div class="row">
                        <div class="col-lg-6 pr-lg-5">
                            <div class="image"><img src="~/images/resource/image-10.jpg" alt=""></div>
                        </div>
                        <div class="col-lg-6">
                            <h2>Aspernatur Ratione Fugit Consequ Untur Magna.</h2>
                            <h5>Lorem ipsum dolor sit amet consectetur adipicing elit usmod tempor incidi dunt.enim ad minim veniam, quis nostrud citation ullamco.</h5>
                            <div class="text">Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim minim veniam quis nostrud.</div>
                            <ul class="list-style-one animated fadeInDown" data-wow-duration="1s">
                                <li>Quis nostrud exer citation.</li>
                                <li>Exercitation ullamco laboris nis. </li>
                                <li>Commodo consequat duis autex.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Block -->
            </div>
            <div class="tab-pane fadeInUp animated" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                <!-- Feature block four -->
                <div class="feature-block-four">
                    <div class="row">
                        <div class="col-lg-6 pr-lg-5">
                            <div class="image"><img src="~/images/resource/image-9.jpg" alt=""></div>
                        </div>
                        <div class="col-lg-6">
                            <h2>Aspernatur Ratione Fugit Consequ Untur Magna.</h2>
                            <h5>Lorem ipsum dolor sit amet consectetur adipicing elit usmod tempor incidi dunt.enim ad minim veniam, quis nostrud citation ullamco.</h5>
                            <div class="text">Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim minim veniam quis nostrud.</div>
                            <ul class="list-style-one animated fadeInDown" data-wow-duration="1s">
                                <li>Quis nostrud exer citation.</li>
                                <li>Exercitation ullamco laboris nis. </li>
                                <li>Commodo consequat duis autex.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Block -->
            </div>
            <div class="tab-pane fadeInUp animated" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                <!-- Feature block four -->
                <div class="feature-block-four">
                    <div class="row">
                        <div class="col-lg-6 pr-lg-5">
                            <div class="image"><img src="~/images/resource/image-8.jpg" alt=""></div>
                        </div>
                        <div class="col-lg-6">
                            <h2>Aspernatur Ratione Fugit Consequ Untur Magna.</h2>
                            <h5>Lorem ipsum dolor sit amet consectetur adipicing elit usmod tempor incidi dunt.enim ad minim veniam, quis nostrud citation ullamco.</h5>
                            <div class="text">Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim minim veniam quis nostrud.</div>
                            <ul class="list-style-one animated fadeInDown" data-wow-duration="1s">
                                <li>Quis nostrud exer citation.</li>
                                <li>Exercitation ullamco laboris nis. </li>
                                <li>Commodo consequat duis autex.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Block -->
            </div>
            <div class="tab-pane fadeInUp animated" id="tab-four" role="tabpanel" aria-labelledby="tab-four">
                <!-- Feature block four -->
                <div class="feature-block-four">
                    <div class="row">
                        <div class="col-lg-6 pr-lg-5">
                            <div class="image"><img src="~/images/resource/image-7.jpg" alt=""></div>
                        </div>
                        <div class="col-lg-6">
                            <h2>Aspernatur Ratione Fugit Consequ Untur Magna.</h2>
                            <h5>Lorem ipsum dolor sit amet consectetur adipicing elit usmod tempor incidi dunt.enim ad minim veniam, quis nostrud citation ullamco.</h5>
                            <div class="text">Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim minim veniam quis nostrud.</div>
                            <ul class="list-style-one animated fadeInDown" data-wow-duration="1s">
                                <li>Quis nostrud exer citation.</li>
                                <li>Exercitation ullamco laboris nis. </li>
                                <li>Commodo consequat duis autex.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Block -->
            </div>
            <div class="tab-pane fadeInUp animated" id="tab-five" role="tabpanel" aria-labelledby="tab-five">
                <!-- Feature block four -->
                <div class="feature-block-four">
                    <div class="row">
                        <div class="col-lg-6 pr-lg-5">
                            <div class="image"><img src="~/images/resource/image-6.jpg" alt=""></div>
                        </div>
                        <div class="col-lg-6">
                            <h2>Aspernatur Ratione Fugit Consequ Untur Magna.</h2>
                            <h5>Lorem ipsum dolor sit amet consectetur adipicing elit usmod tempor incidi dunt.enim ad minim veniam, quis nostrud citation ullamco.</h5>
                            <div class="text">Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim minim veniam quis nostrud.</div>
                            <ul class="list-style-one animated fadeInDown" data-wow-duration="1s">
                                <li>Quis nostrud exer citation.</li>
                                <li>Exercitation ullamco laboris nis. </li>
                                <li>Commodo consequat duis autex.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Block -->
            </div>
            <!-- End Tab item -->
        </div>

    </div>
</section>

<!-- Parallax section -->
<section class="parallax-section" style="background-image:url(images/background/2.jpg);">
    <div class="container">
        <div class="content">
            <h1>Grow Your Business More <br> & Make it Profitable</h1>
            <div class="text">Excepteur sint occaecat cupidatat non proident sunt culpa qui officia ex deserunt <br> mollit in anim id est laborum sed ut perspiciatis unde omnis.</div>
            <div class="link-btn"><a href="~/#" class="theme-btn btn-style-two">Our Services</a></div>
        </div>
    </div>
</section>

<!-- Testimonial -->
<section class="testimonial-section-three sp-one">
    <div class="container">
        <div class="sec-title centered">
            <h1>What People <br>Say About Company</h1>
        </div>
        <div class="three-item-carousel owl-theme owl-carousel owl-nav-none owl-dot-style-three">
            <!-- Testimonial block three -->
            <div class="testimonial-block-three">
                <div class="wrapper-box">
                    <div class="inner-box">
                        <div class="author">
                            <div class="image"><img src="~/images/resource/author-thumb-1.jpg" alt=""></div>
                            <h4>Mark Adams</h4>
                            <div class="designation">Designer</div>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet consect adipis elit eiusmod tempor incidunt dolore magnan aliquip commodo consequat duis aute dolor.</div>
                        <div class="icon"><span>”</span></div>
                    </div>
                </div>
            </div>
            <!-- Testimonial block three -->
            <div class="testimonial-block-three">
                <div class="wrapper-box">
                    <div class="inner-box">
                        <div class="author">
                            <div class="image"><img src="~/images/resource/author-thumb-2.jpg" alt=""></div>
                            <h4>Fiona Edwards</h4>
                            <div class="designation">Developer</div>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet consect adipis elit eiusmod tempor incidunt dolore magnan aliquip commodo consequat duis aute dolor.</div>
                        <div class="icon"><span>”</span></div>
                    </div>
                </div>
            </div>
            <!-- Testimonial block three -->
            <div class="testimonial-block-three">
                <div class="wrapper-box">
                    <div class="inner-box">
                        <div class="author">
                            <div class="image"><img src="~/images/resource/author-thumb-3.jpg" alt=""></div>
                            <h4>Dominic Allen</h4>
                            <div class="designation">Marketer</div>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet consect adipis elit eiusmod tempor incidunt dolore magnan aliquip commodo consequat duis aute dolor.</div>
                        <div class="icon"><span>”</span></div>
                    </div>
                </div>
            </div>
            <!-- Testimonial block three -->
            <div class="testimonial-block-three">
                <div class="wrapper-box">
                    <div class="inner-box">
                        <div class="author">
                            <div class="image"><img src="~/images/resource/author-thumb-1.jpg" alt=""></div>
                            <h4>Mark Adams</h4>
                            <div class="designation">Designer</div>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet consect adipis elit eiusmod tempor incidunt dolore magnan aliquip commodo consequat duis aute dolor.</div>
                        <div class="icon"><span>”</span></div>
                    </div>
                </div>
            </div>
            <!-- Testimonial block three -->
            <div class="testimonial-block-three">
                <div class="wrapper-box">
                    <div class="inner-box">
                        <div class="author">
                            <div class="image"><img src="~/images/resource/author-thumb-2.jpg" alt=""></div>
                            <h4>Fiona Edwards</h4>
                            <div class="designation">Developer</div>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet consect adipis elit eiusmod tempor incidunt dolore magnan aliquip commodo consequat duis aute dolor.</div>
                        <div class="icon"><span>”</span></div>
                    </div>
                </div>
            </div>
            <!-- Testimonial block three -->
            <div class="testimonial-block-three">
                <div class="wrapper-box">
                    <div class="inner-box">
                        <div class="author">
                            <div class="image"><img src="~/images/resource/author-thumb-3.jpg" alt=""></div>
                            <h4>Dominic Allen</h4>
                            <div class="designation">Marketer</div>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet consect adipis elit eiusmod tempor incidunt dolore magnan aliquip commodo consequat duis aute dolor.</div>
                        <div class="icon"><span>”</span></div>
                    </div>
                </div>
            </div>
            <!-- Testimonial block three -->
            <div class="testimonial-block-three">
                <div class="wrapper-box">
                    <div class="inner-box">
                        <div class="author">
                            <div class="image"><img src="~/images/resource/author-thumb-1.jpg" alt=""></div>
                            <h4>Mark Adams</h4>
                            <div class="designation">Designer</div>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet consect adipis elit eiusmod tempor incidunt dolore magnan aliquip commodo consequat duis aute dolor.</div>
                        <div class="icon"><span>”</span></div>
                    </div>
                </div>
            </div>
            <!-- Testimonial block three -->
            <div class="testimonial-block-three">
                <div class="wrapper-box">
                    <div class="inner-box">
                        <div class="author">
                            <div class="image"><img src="~/images/resource/author-thumb-2.jpg" alt=""></div>
                            <h4>Fiona Edwards</h4>
                            <div class="designation">Developer</div>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet consect adipis elit eiusmod tempor incidunt dolore magnan aliquip commodo consequat duis aute dolor.</div>
                        <div class="icon"><span>”</span></div>
                    </div>
                </div>
            </div>
            <!-- Testimonial block three -->
            <div class="testimonial-block-three">
                <div class="wrapper-box">
                    <div class="inner-box">
                        <div class="author">
                            <div class="image"><img src="~/images/resource/author-thumb-3.jpg" alt=""></div>
                            <h4>Dominic Allen</h4>
                            <div class="designation">Marketer</div>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet consect adipis elit eiusmod tempor incidunt dolore magnan aliquip commodo consequat duis aute dolor.</div>
                        <div class="icon"><span>”</span></div>
                    </div>
                </div>
            </div>
            <!-- End block -->
        </div>
    </div>
</section>

<!-- Subscribe section -->
<section class="subscribe-section">
    <div class="container">
        <div class="outer-box">
            <div class="row">
                <div class="title-column col-lg-6">
                    <h2>Subscribe <br>to Our Newsletter</h2>
                </div>
                <div class="subscribe-form col-lg-6">
                    <form method="post" action="http://html.commonsupport.xyz/2019/Barnet/contact.html">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Your email..." required="">
                            <button type="submit" class="theme-btn btn-style-six">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

