@model Banner
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<section class="page-title" style="background-image:url(images/background/3.jpg)">
    <div class="container">
        <div class="outer-box">
            <h1>@Model.Page</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="~/index.html">@Model.Title </a></li>
                <li class="active">@Model.SupTitle</li>
            </ul>
        </div>
    </div>
</section>