
@{
    ViewData["Title"] = "Shop Index";
}

<!-- Page title -->
<section class="page-title" style="background-image:url(images/background/3.jpg)">
    <div class="container">
        <div class="outer-box">
            <h1>Product Page</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="~/index.html">Home</a></li>
                <li class="active">Product Page</li>
            </ul>
        </div>
    </div>
</section>

<!--Sidebar Page Container-->
<div class="sidebar-page-container sp-two">
    <div class="container">
        <div class="row clearfix">

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-3">
                <aside class="sidebar default-sidebar alternate">

                    <!-- Search -->
                    <div class="sidebar-widget-two search-box-two">
                        <form method="post" action="http://html.commonsupport.xyz/2019/Barnet/contact.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search..." required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>

                    <!-- Categories Widget -->
                    <div class="sidebar-widget-two categories-widget">
                        <div class="sidebar-title-two">
                            <h2>Shop by Categories</h2>
                        </div>
                        <div class="widget-content-two">
                            <ul class="blog-cat-two">
                                <li><a href="~/#">Locks</a></li>
                                <li><a href="~/#">Cameras</a></li>
                                <li><a href="~/#">Safes</a></li>
                                <li><a href="~/#">Digital</a></li>
                                <li><a href="~/#">Uncategories</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Price Filters -->
                    <div class="sidebar-widget-two price-filters rangeslider-widget">
                        <div class="sidebar-title-two">
                            <h2>Filter By Price</h2>
                        </div>
                        <div class="widget-content-two">
                            <div class="range-slider-one clearfix">
                                <div class="price-range-slider"></div>
                                <div class="clearfix">
                                    <div class="float-left">
                                        <a href="~/#" class="theme-btn btn-style-two"><i>Filtter</i></a>
                                    </div>
                                    <div class="float-left">
                                        <div class="title">Price:</div>
                                        <div class="input"><input type="text" class="property-amount" name="field-name" readonly></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>

            <!--Content Side-->
            <div class="content-side col-lg-9">
                <!--Shop Single-->
                <div class="shop-section">

                    <!--Sort By-->
                    <div class="items-sorting">
                        <div class="row clearfix">

                            <div class="select-column pull-right col-lg-4 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <select name="sort-by">
                                        <option>Default Sorting</option>
                                        <option>By Order</option>
                                        <option>By Price</option>
                                    </select>
                                </div>
                            </div>
                            <div class="results-column col-lg-8 col-md-12 col-sm-12">
                                <h4>Showing 1-9 of 12 results</h4>
                            </div>

                        </div>
                    </div>

                    <div class="row clearfix">

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/1.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/1.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Side-Tie Tank</h5>
                                    <div class="price">$40.75</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/2.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/2.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Side-Tie Tank</h5>
                                    <div class="price">$40.75</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/3.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/3.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Cold Crewneck Sweater</h5>
                                    <div class="price">$60.00</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/4.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/4.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Multi-Way Ultra Crop Top</h5>
                                    <div class="price">$50.00</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/5.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/5.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Side-Tie Tank</h5>
                                    <div class="price">$40.75</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/6.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/6.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Winter Walking Shoes</h5>
                                    <div class="price">$60.00</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/7.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/7.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Multi-Way Ultra Crop Top</h5>
                                    <div class="price">$50.00</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/8.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/8.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Side-Tie Tank</h5>
                                    <div class="price">$40.75</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/9.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/9.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Winter Walking Shoes</h5>
                                    <div class="price">$60.00</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/10.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/10.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Multi-Way Ultra Crop Top</h5>
                                    <div class="price">$50.00</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/11.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/11.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Side-Tie Tank</h5>
                                    <div class="price">$40.75</div>
                                </div>
                            </div>
                        </div>

                        <!--Shop Item-->
                        <div class="shop-item col-lg-4 col-md-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/images/resource/products/12.jpg" alt="" />
                                        <div class="overlay-box">
                                            <ul class="content">
                                                <li><a href="~/#"><span class="far fa-heart"></span></a></li>
                                                <li><a href="~/shopping-cart.html"><span class="fas fa-shopping-bag"></span></a></li>
                                                <li><a class="img-opener" href="~/images/resource/products/12.jpg" data-fancybox="gallery"><span class="fas fa-search"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h5>Winter Walking Shoes</h5>
                                    <div class="price">$60.00</div>
                                </div>
                            </div>
                        </div>

                        <!-- End Shop item -->

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Subscribe section -->
<section class="subscribe-section">
    <div class="container">
        <div class="outer-box">
            <div class="row">
                <div class="title-column col-lg-6">
                    <h2>Subscribe <br>to Our Newsletter</h2>
                </div>
                <div class="subscribe-form col-lg-6">
                    <form method="post" action="http://html.commonsupport.xyz/2019/Barnet/contact.html">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Your email..." required="">
                            <button type="submit" class="theme-btn btn-style-six">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

