
@{
    ViewData["Title"] = "Case Index";
}

<!-- Page title -->
<section class="page-title" style="background-image:url(images/background/3.jpg)">
    <div class="container">
        <div class="outer-box">
            <h1>Cases Study One</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="~/index.html">Home</a></li>
                <li class="active">Cases Study One</li>
            </ul>
        </div>
    </div>
</section>

<!--Portfolio Section-->
<section class="portfolio-section sp-one">
    <!--MixitUp Galery-->
    <div class="masonry-gallery">

        <div class="container">
            <!--Top content-->
            <div class="top-content">
                <div class="row m-0 justify-content-md-between align-items-center">
                    <div class="sec-title mb-30">
                        <h1>We’ve Done Lot’s of Work, Let’s <br>Check Some From Here</h1>
                    </div>
                    <!--Filter-->
                    <div class="filters text-center clearfix">
                        <ul class="filter-tabs filter-btns clearfix">
                            <li class="active filter" data-role="button" data-filter=".all"><span>All</span></li>
                            <li class="filter" data-role="button" data-filter=".category-1"><span>Design</span></li>
                            <li class="filter" data-role="button" data-filter=".category-2"><span>Graphic</span></li>
                            <li class="filter" data-role="button" data-filter=".category-3"><span>Photography</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="items-container row clearfix">
                <!--Gallery Block-->
                <div class="gallery-block p-0 col-lg-3 col-md-6 all category-1 category-2">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/images/gallery/1.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="content-text">
                                            <div class="category">Corporate</div>
                                            <h3><a href="~/projects-detail.html">Business Solution</a></h3>
                                            <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.</div>
                                            <div class="link-btn"><a href="~/#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <!--Case Block-->
                <div class="gallery-block p-0 col-lg-3 col-md-6 all category-3 category-4">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/images/gallery/2.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="content-text">
                                            <div class="category">Corporate</div>
                                            <h3><a href="~/projects-detail.html">Business Solution</a></h3>
                                            <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.</div>
                                            <div class="link-btn"><a href="~/#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <!--Case Block-->
                <div class="gallery-block p-0 col-lg-3 col-md-6 all category-5 category-1">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/images/gallery/3.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="content-text">
                                            <div class="category">Corporate</div>
                                            <h3><a href="~/projects-detail.html">Business Solution</a></h3>
                                            <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.</div>
                                            <div class="link-btn"><a href="~/#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <!--Case Block-->
                <div class="gallery-block p-0 col-lg-3 col-md-6 all category-2 category-3">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/images/gallery/4.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="content-text">
                                            <div class="category">Corporate</div>
                                            <h3><a href="~/projects-detail.html">Business Solution</a></h3>
                                            <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.</div>
                                            <div class="link-btn"><a href="~/#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <!--Case Block-->
                <div class="gallery-block p-0 col-lg-3 col-md-6 all category-3 category-5">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/images/gallery/11.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="content-text">
                                            <div class="category">Corporate</div>
                                            <h3><a href="~/projects-detail.html">Business Solution</a></h3>
                                            <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.</div>
                                            <div class="link-btn"><a href="~/#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <!--Case Block-->
                <div class="gallery-block p-0 col-lg-3 col-md-6 all category-1 category-3">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/images/gallery/12.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="content-text">
                                            <div class="category">Corporate</div>
                                            <h3><a href="~/projects-detail.html">Business Solution</a></h3>
                                            <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.</div>
                                            <div class="link-btn"><a href="~/#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <!--Case Block-->
                <div class="gallery-block p-0 col-lg-3 col-md-6 all category-3 category-1">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/images/gallery/13.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="content-text">
                                            <div class="category">Corporate</div>
                                            <h3><a href="~/projects-detail.html">Business Solution</a></h3>
                                            <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.</div>
                                            <div class="link-btn"><a href="~/#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <!--Case Block-->
                <div class="gallery-block p-0 col-lg-3 col-md-6 all category-4 category-2">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/images/gallery/14.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="content-text">
                                            <div class="category">Corporate</div>
                                            <h3><a href="~/projects-detail.html">Business Solution</a></h3>
                                            <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.</div>
                                            <div class="link-btn"><a href="~/#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <!-- End block -->
            </div>
        </div>
    </div>
</section>
<!--End Portfolio section-->
<!-- Subscribe section -->
<section class="subscribe-section">
    <div class="container">
        <div class="outer-box">
            <div class="row">
                <div class="title-column col-lg-6">
                    <h2>Subscribe <br>to Our Newsletter</h2>
                </div>
                <div class="subscribe-form col-lg-6">
                    <form method="post" action="http://html.commonsupport.xyz/2019/Barnet/contact.html">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Your email..." required="">
                            <button type="submit" class="theme-btn btn-style-six">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

