
@{
    ViewData["Title"] = "Pricing Index";
}

<!-- Page title -->
<section class="page-title" style="background-image:url(images/background/3.jpg)">
    <div class="container">
        <div class="outer-box">
            <h1>Pricing Table</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="~/index.html">Home</a></li>
                <li class="active">Pricing Table</li>
            </ul>
        </div>
    </div>
</section>

<!-- Pricing section two -->
<section class="pricing-section-two sp-two">
    <div class="container">
        <div class="row m-0 justify-content-md-between align-items-center">
            <div class="sec-title">
                <h1>Simple Pricing That Works <br>For Everyone</h1>
            </div>
            <ul class="nav nav-tabs tab-btn-style-three justify-content-right" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="price-tab-one-area" data-toggle="tab" href="~/#price-tab-one" role="tab" aria-controls="tab-one" aria-selected="true">Monthly Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="price-tab-two-area" data-toggle="tab" href="~/#price-tab-two" role="tab" aria-controls="tab-two" aria-selected="false">Yearly Plan</a>
                </li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fadeInUp animated active" id="price-tab-one" role="tabpanel" aria-labelledby="monthplan-tab">
                <div class="row">
                    <!-- Pricing block -->
                    <div class="col-lg-4 col-md-6 pricing-block-two">
                        <div class="inner-box hvr-float-shadow">
                            <div class="upper-box">
                                <div class="category">Basic Plan</div>
                                <div class="price">$39.75 <span>/ mo</span></div>
                            </div>
                            <div class="lower-box">
                                <ul class="animated zoomIn" data-wow-duration="1.5s">
                                    <li><strong>1 User</strong></li>
                                    <li><strong>Competitive analysis</strong></li>
                                    <li><strong>Monthly management</strong></li>
                                    <li><span>Marketing strategy</span></li>
                                    <li><span>Single Project</span></li>
                                </ul>
                                <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing block -->
                    <div class="col-lg-4 col-md-6 pricing-block-two active">
                        <div class="inner-box hvr-float-shadow">
                            <div class="upper-box">
                                <div class="category">Popular Plan</div>
                                <div class="price">$39.75 <span>/ mo</span></div>
                            </div>
                            <div class="lower-box">
                                <ul class="animated zoomIn" data-wow-duration="1.5s">
                                    <li><strong>1 User</strong></li>
                                    <li><strong>Competitive analysis</strong></li>
                                    <li><strong>Monthly management</strong></li>
                                    <li><strong>Marketing strategy</strong></li>
                                    <li><span>Single Project</span></li>
                                </ul>
                                <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing block -->
                    <div class="col-lg-4 col-md-6 pricing-block-two">
                        <div class="inner-box hvr-float-shadow">
                            <div class="upper-box">
                                <div class="category">Standard Plan</div>
                                <div class="price">$39.75 <span>/ mo</span></div>
                            </div>
                            <div class="lower-box">
                                <ul class="animated zoomIn" data-wow-duration="1.5s">
                                    <li><strong>1 User</strong></li>
                                    <li><strong>Competitive analysis</strong></li>
                                    <li><strong>Monthly management</strong></li>
                                    <li><strong>Marketing strategy</strong></li>
                                    <li><strong>Single Project</strong></li>
                                </ul>
                                <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
            </div>
            <div class="tab-pane fadeInUp animated" id="price-tab-two" role="tabpanel" aria-labelledby="yearplan-tab">
                <div class="row">
                    <!-- Pricing block -->
                    <div class="col-lg-4 col-md-6 pricing-block-two">
                        <div class="inner-box hvr-float-shadow">
                            <div class="upper-box">
                                <div class="category">Basic Plan</div>
                                <div class="price">$39.75 <span>/ mo</span></div>
                            </div>
                            <div class="lower-box">
                                <ul class="animated zoomIn" data-wow-duration="1.5s">
                                    <li><strong>1 User</strong></li>
                                    <li><strong>Competitive analysis</strong></li>
                                    <li><strong>Monthly management</strong></li>
                                    <li><span>Marketing strategy</span></li>
                                    <li><span>Single Project</span></li>
                                </ul>
                                <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing block -->
                    <div class="col-lg-4 col-md-6 pricing-block-two active">
                        <div class="inner-box hvr-float-shadow">
                            <div class="upper-box">
                                <div class="category">Popular Plan</div>
                                <div class="price">$39.75 <span>/ mo</span></div>
                            </div>
                            <div class="lower-box">
                                <ul class="animated zoomIn" data-wow-duration="1.5s">
                                    <li><strong>1 User</strong></li>
                                    <li><strong>Competitive analysis</strong></li>
                                    <li><strong>Monthly management</strong></li>
                                    <li><strong>Marketing strategy</strong></li>
                                    <li><span>Single Project</span></li>
                                </ul>
                                <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing block -->
                    <div class="col-lg-4 col-md-6 pricing-block-two">
                        <div class="inner-box hvr-float-shadow">
                            <div class="upper-box">
                                <div class="category">Standard Plan</div>
                                <div class="price">$39.75 <span>/ mo</span></div>
                            </div>
                            <div class="lower-box">
                                <ul class="animated zoomIn" data-wow-duration="1.5s">
                                    <li><strong>1 User</strong></li>
                                    <li><strong>Competitive analysis</strong></li>
                                    <li><strong>Monthly management</strong></li>
                                    <li><strong>Marketing strategy</strong></li>
                                    <li><strong>Single Project</strong></li>
                                </ul>
                                <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pricing section -->
<section class="pricing-section sp-two grey-bg">
    <div class="container">
        <div class="sec-title centered">
            <h1>Simple Pricing That Works <br>For Everyone</h1>
        </div>
        <div class="row">
            <!-- Pricing block -->
            <div class="col-lg-4 pricing-block-three">
                <div class="inner-box hvr-float-shadow">
                    <div class="upper-box">
                        <div class="category">Basic Plan</div>
                        <div class="price">$39.75 <span>/ mo</span></div>
                    </div>
                    <div class="lower-box">
                        <ul class="wow zoomIn" data-wow-duration="1.5s">
                            <li><strong>1 User</strong></li>
                            <li><strong>Competitive analysis</strong></li>
                            <li><strong>Monthly management</strong></li>
                            <li><span>Marketing strategy</span></li>
                            <li><span>Single Project</span></li>
                        </ul>
                        <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                    </div>
                </div>
            </div>
            <!-- Pricing block -->
            <div class="col-lg-4 pricing-block-three active">
                <div class="inner-box hvr-float-shadow">
                    <div class="upper-box">
                        <div class="category">Popular Plan</div>
                        <div class="price">$39.75 <span>/ mo</span></div>
                    </div>
                    <div class="lower-box">
                        <ul class="wow zoomIn" data-wow-duration="1.5s">
                            <li><strong>1 User</strong></li>
                            <li><strong>Competitive analysis</strong></li>
                            <li><strong>Monthly management</strong></li>
                            <li><strong>Marketing strategy</strong></li>
                            <li><span>Single Project</span></li>
                        </ul>
                        <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                    </div>
                </div>
            </div>
            <!-- Pricing block -->
            <div class="col-lg-4 pricing-block-three">
                <div class="inner-box hvr-float-shadow">
                    <div class="upper-box">
                        <div class="category">Standard Plan</div>
                        <div class="price">$39.75 <span>/ mo</span></div>
                    </div>
                    <div class="lower-box">
                        <ul class="wow zoomIn" data-wow-duration="1.5s">
                            <li><strong>1 User</strong></li>
                            <li><strong>Competitive analysis</strong></li>
                            <li><strong>Monthly management</strong></li>
                            <li><strong>Marketing strategy</strong></li>
                            <li><strong>Single Project</strong></li>
                        </ul>
                        <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                    </div>
                </div>
            </div>
            <!-- end -->
        </div>
    </div>
</section>

<!-- Pricing section -->
<section class="pricing-section sp-two">
    <div class="container">
        <div class="sec-title centered">
            <h1>Simple Pricing That Works <br>For Everyone</h1>
        </div>
        <div class="row">
            <!-- Pricing block -->
            <div class="col-lg-4 pricing-block-one">
                <div class="inner-box hvr-float-shadow">
                    <div class="upper-box">
                        <div class="category">Basic Plan</div>
                        <div class="price">$39.75 <span>/ mo</span></div>
                    </div>
                    <div class="lower-box">
                        <ul class="wow zoomIn" data-wow-duration="1.5s">
                            <li><strong>1 User</strong></li>
                            <li><strong>Competitive analysis</strong></li>
                            <li><strong>Monthly management</strong></li>
                            <li>Marketing strategy</li>
                            <li>Single Project</li>
                        </ul>
                        <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                    </div>
                </div>
            </div>
            <!-- Pricing block -->
            <div class="col-lg-4 pricing-block-one active">
                <div class="inner-box hvr-float-shadow">
                    <div class="upper-box">
                        <div class="category">Popular Plan</div>
                        <div class="price">$39.75 <span>/ mo</span></div>
                    </div>
                    <div class="lower-box">
                        <ul class="wow zoomIn" data-wow-duration="1.5s">
                            <li><strong>1 User</strong></li>
                            <li><strong>Competitive analysis</strong></li>
                            <li><strong>Monthly management</strong></li>
                            <li><strong>Marketing strategy</strong></li>
                            <li>Single Project</li>
                        </ul>
                        <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                    </div>
                </div>
            </div>
            <!-- Pricing block -->
            <div class="col-lg-4 pricing-block-one">
                <div class="inner-box hvr-float-shadow">
                    <div class="upper-box">
                        <div class="category">Standard Plan</div>
                        <div class="price">$39.75 <span>/ mo</span></div>
                    </div>
                    <div class="lower-box">
                        <ul class="wow zoomIn" data-wow-duration="1.5s">
                            <li><strong>1 User</strong></li>
                            <li><strong>Competitive analysis</strong></li>
                            <li><strong>Monthly management</strong></li>
                            <li><strong>Marketing strategy</strong></li>
                            <li><strong>Single Project</strong></li>
                        </ul>
                        <div class="link-btn"><a href="~/#" class="theme-btn btn-style-fourteen">Select Plan</a></div>
                    </div>
                </div>
            </div>
            <!-- end -->
        </div>
    </div>
</section>

<!-- Subscribe section -->
<section class="subscribe-section">
    <div class="container">
        <div class="outer-box">
            <div class="row">
                <div class="title-column col-lg-6">
                    <h2>Subscribe <br>to Our Newsletter</h2>
                </div>
                <div class="subscribe-form col-lg-6">
                    <form method="post" action="http://html.commonsupport.xyz/2019/Barnet/contact.html">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Your email..." required="">
                            <button type="submit" class="theme-btn btn-style-six">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

