
@{
    ViewData["Title"] = "ServiceDetails Index";
}

<!-- Page title -->
<section class="page-title" style="background-image:url(images/background/3.jpg)">
    <div class="container">
        <div class="outer-box">
            <h1>Market Growthing</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="~/index.html">Home</a></li>
                <li class="active">Market Growthing</li>
            </ul>
        </div>
    </div>
</section>

<!-- Service details -->
<section class="service-details sp-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 sidebar">
                <!-- Category widget -->
                <div class="sidebar-widget category-widget">
                    <div class="sidebar-title">
                        <h3>Our Services</h3>
                    </div>
                    <ul>
                        <li class="active"><a href="~/service-details.html">Market Growthing</a></li>
                        <li><a href="~/service-details-2.html">Financial Planning</a></li>
                        <li><a href="~/service-details-3.html">Creative Invention</a></li>
                        <li><a href="~/service-details-4.html">Business Consulting</a></li>
                        <li><a href="~/service-details-5.html">Startup Investment</a></li>
                        <li><a href="~/service-details-6.html">Professional Approach</a></li>
                    </ul>
                </div>
                <!-- Request callback widget -->
                <div class="sidebar-widget request-callback-widget">
                    <div class="inner-box">
                        <div class="sidebar-title light">
                            <h3>Need Help?</h3>
                        </div>
                        <div class="text">Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia. deserunt mollit.</div>
                        <ul class="contact-info">
                            <li><span class="fas fa-envelope"></span>hello@example.com</li>
                            <li><span class="fas fa-phone"></span>(0251) 235 3256</li>
                        </ul>
                        <div class="link-btn"><a href="~/#" class="theem-btn btn-style-two">Contact Us</a></div>
                    </div>
                </div>
                <!-- Brochure widget -->
                <div class="sidebar-widget brochure-widget">
                    <div class="sidebar-title">
                        <h3>Downloads</h3>
                    </div>
                    <div class="brochure">
                        <a href="~/#" class="theme-btn"><span class="far fa-file-pdf"></span><strong>Download.pdf from here</strong><br> Marketing Brochure</a>
                        <a href="~/#" class="theme-btn"><span class="far fa-file-pdf"></span><strong>Download.pdf from here</strong><br> Marketing Brochure</a>
                    </div>
                </div>
                <!-- end Widget -->
            </div>
            <div class="col-lg-8">
                <div class="content">
                    <div class="top-content">
                        <div class="image mb-50 fadeInUp wow mb-30" data-wow-duration="1s"><img src="~/images/resource/service-9.jpg" alt=""></div>
                        <h1>Planning Strategies</h1>
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do ei usmod tempor incididunt. enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex commodo consequat duis aute irure dolor. excepteur sint occaecat cupidatat non proident sunt in culpa.</div>
                    </div>
                    <div class="middile-content">
                        <h3>Business Servey</h3>
                        <div class="text mb-80">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do ei usmod tempor incididunt. enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex commodo consequat duis aute irure dolor. excepteur sint occaecat cupidatat non proident sunt in culpa.</div>
                        <div class="row mb-50">
                            <div class="col-md-6">
                                <div class="image fadeInLeft wow mb-30" data-wow-duration="1s"><img src="~/images/resource/service-10.jpg" alt=""></div>
                            </div>
                            <div class="col-md-6">
                                <h3>Planning Strategies</h3>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipsiicing elit sed do ei usmod tempor incididunt. enim ad ex minim veniam, quis nostrud exer cita tion ullamco laboris nisi ut aliquip ex commodo consequat duis aute irure dolor. excepteur sint occaecat cupidatat non proident sunt in culpa.officia deserunt mollit anim est laborum. Sed perspiciatis unde omnis iste natus error sit voluptem accusantium dolore mque laudan tium, totam rem aperiam eaque ipsa quae illo inventore.</p> <p>Enim ipsam volupttem quia voluptas sit asper natur aut odit aut fugit sed quia ex consequun magni do lores eos qui ratione volup tatem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Research Analysis</h3>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipicing elit sed do ei usmod tempor incididunt. enim ad minim veniam, quis nostrud exer cita tion ullam co laboris nisi ut aliquip ex commodo consequat duis aute irure dolor. excepteur sint occaecat cupidatat non proident sunt in culpa.Enim ipsam voluptem quia voluptas sit asper exer natur aut odit aut fugit sed quia ex consequn mag ni do lores eos qui ratione volup tatem </p> <p>Sequinesc. neque porro quisquam est qui dolore ipsum.quia dolor sit amet consectetur.adipiscing velit sed quia numquam.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="image fadeInRight wow mb-30" data-wow-duration="1s"><img src="~/images/resource/graph-3.jpg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-content">
                        <h3>Business Conclusion</h3>
                        <div class="text mb-30">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do ei usmod tempor incididunt. enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex commodo consequat duis aute irure dolor. excepteur sint occaecat cupidatat non proident sunt in culpa.</div>
                        <ul class="list-style-one fadeInUp wow mb-30" data-wow-duration="1s">
                            <li>Quis nostrud exer citation.</li>
                            <li>Exercitation ullamco laboris nis. </li>
                            <li>Commodo consequat duis autex.</li>
                        </ul>
                    </div>
                    <!-- end -->
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Subscribe section -->
<section class="subscribe-section">
    <div class="container">
        <div class="outer-box">
            <div class="row">
                <div class="title-column col-lg-6">
                    <h2>Subscribe <br>to Our Newsletter</h2>
                </div>
                <div class="subscribe-form col-lg-6">
                    <form method="post" action="http://html.commonsupport.xyz/2019/Barnet/contact.html">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Your email..." required="">
                            <button type="submit" class="theme-btn btn-style-six">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

